<%- include('./partials/header.ejs')%>
<div>

    <h1>Password is Incorrect</h1><br>
    <h2>Return to Home page</h2>
    <button type="submit" class="btn btn-primary"><a class="nav-link" href="/">Home Page</a></button>
</div>

<%- include('./partials/footer.ejs')%>