<%- include('./partials/header.ejs')%> <%- include('./partials/navbar.ejs')%>

<div class="container mt-5">
  <div class="row">
    <h1>Home Page</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem adipisci
      autem qui soluta recusandae cupiditate nostrum, eos dicta cum voluptatem
      pariatur quisquam? Sapiente tempore fuga quidem impedit nulla maxime at!
    </p>
  </div>
  <button type="submit" class="btn btn-primary">
    <a class="nav-link" href="/registration">Regiser</a>
  </button>
  <button type="submit" class="btn btn-primary">
    <a class="nav-link" href="/login">Login</a>
  </button>
</div>

<%- include('./partials/footer.ejs')%>
